html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url('../src/images/body-bg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ? UNIVERSAL */

/* TEXT */

.sm-text{
	font-family: Roboto, sans-serif;
	font-size: 20px;
	line-height: 25px;
    letter-spacing: 1.5px;
}

.md-text{
	font-family: Roboto, sans-serif;
	font-size: 25px;
}

.lg-text{
	font-family: Roboto, sans-serif;
	font-size: 50px;
}

.xl-text{
	font-family: Roboto, sans-serif;
	font-size: 80px;
}

.light-text{
	font-weight: 100;
	font-family: Roboto, sans-serif;
}

.reg-text{
	font-weight: 300;
	font-family: Roboto, sans-serif;
}

.bold-text{
	font-weight: 700;
	font-family: Roboto, sans-serif;
}

/* TEXT MEDIA QUERIES */

@media screen and (max-width: 375px) {
	.sm-text{
		font-size: 10px;
		line-height: 20px;
		font-weight: 600px;
	}
	.md-text{
		font-size: 20px;
	}
	.lg-text{
		font-size: 40px;
	}
	.xl-text{
		font-size: 60px;
	}
}

@media screen and (min-width: 376px) and (max-width: 767px) {
	.sm-text{
		font-size: 10px;
		line-height: 20px;
		font-weight: 600px;
	}
	.md-text{
		font-size: 20px;
	}
	.lg-text{
		font-size: 40px;
	}
	.xl-text{
		font-size: 60px;
	}
}

/* MARGINS AND PADDINGS */

.mt-60{
	margin-top: 60px;
}

.mb-60{
	margin-bottom: 60px;
}

.my-60{
	margin-top: 60px;
	margin-bottom: 60px;
}

.mt-100{
	margin-top: 100px;
}

.mb-100{
	margin-bottom: 100px;
}

.my-100{
	margin-top: 100px;
	margin-bottom: 100px;
}

.ps-100{
	padding-left: 100px;
}

.mt-200{
	margin-top: 200px;
}

.mb-200{
	margin-bottom: 200px;
}

.my-100{
	margin-top: 100px;
}

.my-200{
	margin-top: 200px;
}

/* BUTTONS */

.md-button{
	text-decoration: none;
    color: #e1c76a;
    background-color: #474844;
    padding: 16px;
    border: 2px solid #e1c76a;
    border-radius: 40px;
    opacity: 0.7;
    padding-inline: 50px;
}

	.md-button:hover{
		opacity: 1;
		color: white
	}

/* BUTTON MEDIA QUERIES */

@media screen and (max-width: 375px) {
	.md-button{
		padding-inline: 10px;
		padding: 5px;
	}
}

@media screen and (min-width: 376px) and (max-width: 767px) {
	.md-button{
		padding-inline: 10px;
		padding: 5px;
	}
}

/* SECONDARY NAVBAR */

.secondary-navbar-container{
	height: 300px;
	overflow: hidden;
	opacity: 0.7;
}

	.secondary-navbar-container div img{
		width: 200px;
		border-radius: 25%;
		box-shadow: 0px 0px 20px 10px lightgrey;
	}

.secondary-navbar{
	width: 90%;
	top: 15%;
	left: 8%;
}

/******** HOME PAGE ********/

.navbar-container {
	width: 90%;
	top:4%;
	left:8%;
}
	.navbar-container img{
		width: 200px;
		border-radius: 25%;
		box-shadow: 0px 0px 20px 10px lightgrey;
	}

.nav-link{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

	.nav-link:hover{
		color: #e1c76a;
	}

.isActive{
	color: #e1c76a;
    font-weight: bold;
	font-size: 25px;
    text-decoration: underline;
}

	.isActive:hover{
		color: #e1c76a;
	}

.home-header-content{
	width: 90%;
	top:35%;
	left:8%;
}
	.home-header-content h1, h3{
		color: white;
		text-shadow: 0px 0px 7px #000;
	}
	.home-header-content h2{
		color: #fff;
		text-shadow: 0px 0px 7px #000;
	}

.header-arrow{
	top: 87%;
	left: 45%;
	animation: blinker 3s linear infinite
}

@keyframes blinker{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}

.fa-chevron-down{
	font-size: 150px;
	color: #e0cc81;
	text-shadow: 0px 0px 7px #000;
}

/*! ******* ABOUT SECTION ********/

.behind-text{
	top: -6%;
	right: 70px;
    font-size: 125px;
    z-index: 0;
    opacity: 0.09;
    font-weight: bold;
}

	.behind-text_bar{
		background-color: #e0cc81;
		width: 260px;
		height: 30px;
		border-radius: 20px;
		position: absolute;
		left: 230px;
		top: 25px;
		z-index: -1;
	}

.about-section_left{
	margin-top: 10%;
}

.counter-section{
    position: absolute;
    top: 75%;
	right: 80%;
    height: 150px;
    width: 120%;
    background-color: white;
    padding: 0 60px;
}

/*! ******* SERVICES SECTION ********/

.services-behind-text_bar{
	background-color: #e0cc81;
	width: 220px;
	height: 30px;
	border-radius: 20px;
	position: absolute;
	left: 126px;
	top: 25px;
	z-index: -1;
}

.services-behind-text{
	top: -65%;
	left: 20px;
    font-size: 125px;
    z-index: 0;
    opacity: 0.09;
    font-weight: bold;
}

.service-item-1{
	width: 20%;
	height: 600px;
	background-image: url('../src/images/granite-countertop.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
	transition: all 0.9s ease-out;
}

.service-item-2{
	width: 20%;
	height: 600px;
	background-image: url('../src/images/quartz-countertop.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
	transition: all 0.9s ease-out;
}

.service-item-3{
	width: 20%;
	height: 600px;
	background-image: url('../src/images/marble-countertop.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
	transition: all 0.9s ease-out;
}

.service-item-4{
	width: 20%;
	height: 600px;
	background-image: url('../src/images/outdoor-countertops.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
	transition: all 0.9s ease-out;
}

.service-item-5{
	width: 20%;
	height: 600px;
	background-image: url('../src/images/projects/quartzite-cristallo/quartzite-cristallo-2.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
	transition: all 0.9s ease-out;
}

.each-service{
	padding-top: 28%;
}

	.each-service:hover{
		opacity: 0.7;
		transform: scale(1.1);
		box-shadow: 0 0 20px 20px lightgrey;
		padding-top: 17%;
		border: 10px solid #e1c76a;
	}

		.each-service:hover h3 {
			color: #e1c76a;
			font-weight: bold;
		}


/*! ******* WHY CHOOSE US SECTION ********/

.choose-us-behind-text{
	top: -9%;
    right: 135px;
    font-size: 125px;
    z-index: 0;
    opacity: 0.09;
    font-weight: bold;
}

	.choose-us-behind-text_bar{
		background-color: #e0cc81;
		width: 260px;
		height: 30px;
		border-radius: 20px;
		position: absolute;
		left: 115px;
		top: 25px;
		z-index: -1;
	}

.choose-us_images{
	width: 45%;
	margin: 10px;
	transition: all 0.9s ease-out;
}

	.choose-us_images:hover{
		transform: scale(1.1);
		box-shadow: 0 0 20px 20px lightgrey;
	}

/*! ******* FOOTER SECTION ********/

.footer-section{
	background-color: #403e46;
    height: 500px;
    padding: 80px;
}

.footer-section div div img{
	width: 300px;
	border-radius: 25%;
	box-shadow: 0px 0px 20px 10px lightgrey;
}

.footer-link{
	text-decoration: none;
}

/*! ******* ABOUT PAGE ********/
.about-behind-text{
	top: -35%;
    right: -261px;
    font-size: 125px;
    z-index: 0;
    opacity: 0.09;
    font-weight: bold;
    width: 200%;
}

.about-title{
	width: 101%;
}

.about-behind-text_bar{
	background-color: #e0cc81;
    width: 236px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    left: 101px;
    top: 25px;
    z-index: -1;
}

/*! ******* CONTACT PAGE ********/

.contact-behind-text{
    top: -70%;
    right: -285px;
    font-size: 125px;
    z-index: 0;
    opacity: 0.09;
    font-weight: bold;
    width: 200%;
}

.contact-title{
	width: 200%;
}

.contact-behind-text_bar{
	background-color: #e0cc81;
    width: 362px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    left: 275px;
    top: 25px;
    z-index: -1;
}

.form-control{
	padding: 15px;
	border-radius: 15px !important;
}

	.form-control:focus{
		border: 5px solid #e0cc81 !important;
		outline: none !important;
		box-shadow: none
	}

.form-group textarea{
	resize: none;
	height: 150px;
}

.mapouter{
	position:relative;
	text-align:right;
	height:500px;
	width:600px;
}

.gmap_canvas{
	overflow:hidden;
	background:none!important;
	height:500px;
	width:600px;
}

/*! ******* SERVICES SUBMENU SECTION ********/

.service-container{
	border-left: 5px solid #e0cc81;
	padding-left: 45px;
}

.services-link{
    background-color: #e0cc81;
    width: 300px;
    height: 70px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: lightslategray;
    padding-top: 22px;
    margin: 20px;
}

	.services-link:hover{
		text-decoration: none;
		color: #e1c76a;
		background-color: #474844;
		padding: 20px;
		border: 2px solid #e1c76a;
		border-radius: 40px;
		opacity: 0.7;
		padding-inline: 50px;
		width: 345px;
		font-size: 24px;
	}

.serviceIsActive{
	width: 345px;
	text-decoration: none;
	color: #e1c76a;
	background-color: #474844;
	padding: 20px;
	border: 2px solid #e1c76a;
	border-radius: 40px;
	opacity: 0.7;
	padding-inline: 50px;
	font-weight: 700;
	font-family: Roboto, sans-serif;
	font-size: 25px;
	margin: 20px;
	text-align: center;
	font-size: 24px;
}

	.serviceIsActive:hover{
		color: #e1c76a;
	}

/*! ******* SERVICES PAGE ********/

	.service-title{
	margin-left: 45px;
}

.service-behind-text{
	top: -70%;
    left: 20px;
    font-size: 125px;
    z-index: 0;
    opacity: 0.09;
    font-weight: bold;
}

.service-behind-text_bar{
	background-color: #e0cc81;
    width: 308px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    left: 197px;
    top: 25px;
    z-index: -1;
}

	.service-behind-text_bar-granite{
		background-color: #e0cc81;
		width: 307px;
		height: 30px;
		border-radius: 20px;
		position: absolute;
		left: 203px;
		top: 25px;
		z-index: -1;
	}

	.service-behind-text_bar-quartz{
		background-color: #e0cc81;
		width: 302px;
		height: 30px;
		border-radius: 20px;
		position: absolute;
		left: 195px;
		top: 25px;
		z-index: -1;
	}

	.service-behind-text_bar-quartzite{
		background-color: #e0cc81;
		width: 302px;
		height: 30px;
		border-radius: 20px;
		position: absolute;
		left: 245px;
		top: 25px;
		z-index: -1;
	}

	.service-behind-text_bar-outdoor{
		background-color: #e0cc81;
		width: 302px;
		height: 30px;
		border-radius: 20px;
		position: absolute;
		left: 226px;
		top: 25px;
		z-index: -1;
	}

	.service-behind-text_bar-marble{
		background-color: #e0cc81;
		width: 302px;
		height: 30px;
		border-radius: 20px;
		position: absolute;
		left: 200px;
		top: 25px;
		z-index: -1;
	}

	.service-behind-text_bar-sinks{
		background-color: #e0cc81;
		width: 147px;
		height: 30px;
		border-radius: 20px;
		position: absolute;
		left: 125px;
		top: 25px;
		z-index: -1;
	}

.reviews-behind-text_bar {
    background-color: #e0cc81;
    width: 288px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    left: 460px;
    top: 25px;
    z-index: -1;
}

.reviews-behind-text {
    top: -71%;
    left: -30px;
    font-size: 125px;
    z-index: 0;
    opacity: 0.09;
    font-weight: bold;

}

.carousel{
	width: 90%;
}

.carousel-item{
	height: 500px;
}

	.carousel-inner{
		padding: 5% 16%;
	}

	.carousel-control-prev-icon, .carousel-control-next-icon{
		background-color: black !important;
	}

	.review-bar{
		width: 50px;
		height: 10px;
		background-color: black;
		border-radius: 10px;
	}

/* Services */

.animation-img-1{
	width: 30%;
	height:280px;
	background-image: url('../src/images/granite-countertop.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
	transition: all 0.9s ease-out ;
}

.animation-img-2{
	width: 30%;
	height:280px;
	background-image: url('../src/images/quartz-countertop.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
	transition: all 0.9s ease-out;
}

.animation-img-3{
	width: 30%;
	height:280px;
	background-image: url('../src/images/marble-countertop.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
	transition: all 0.9s ease-out;
}

.animation-img-4{
	width: 30%;
	height:280px;
	background-image: url('../src/images/outdoor-countertops.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
	transition: all 0.9s ease-out;
}

.animation-img-5{
	width: 30%;
	height:280px;
	background-image: url('../src/images/projects/quartzite-cristallo/quartzite-cristallo-2.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
	transition: all 0.9s ease-out;
}

.service-animation{
	text-decoration: none;
}



/*! ******* REVIEWS PAGE ********/

.review-logo{
	width: 300px;
    box-shadow: 0 0 20px 20px lightgrey;
    border-radius: 20px;
}

.review-form{
	width: 80%;
}

	.review-input{
		margin-bottom: 20px;
	}

	.review-textarea{
		height: 250px !important;
	}


/* ******* MEDIA QUERIES ********/

@media screen and (max-width: 375px){
	/* Home Header */
	.nav-link{
		font-size: 13px;
		margin: 10px !important;
	}

	.isActive{
		font-size: 13px;
		margin: 10px !important;
	}

	.home-header-content{
		top: 23%;
		left: -3%;
	}

		.home-header-content h1, .home-header-content h3{
			font-size: 15px;
		}

		.home-header-content h2{
			font-size: 30px;
			margin: 20px 0px !important;
		}

	.fa-chevron-down{
		font-size: 40px;
	}

		.header-arrow{
			top: 82%
		}

		.header-btn_container{
			margin-top: 20px;
		}

	/* About Section */
	.about-section{
		margin-top: 15px;
	}

		.about-section_left h2{
			font-size: 25px;
		}

		.behind-text{
			font-size: 62px;
		}

		.behind-text_bar{
			width: 134px;
			height: 15px;
			left: 119px;
			top: 12px;
		}

	.about-section_content{
		margin-bottom: 50px !important;
	}

	.about-section_content p{
		margin-top: 25px !important;
		margin-bottom: 25px !important;
	}

	/* Services Section */
	.services-behind-text{
		font-size: 62px;
	}

		.services-behind-text_bar{
			width: 113px;
			height: 15px;
			left: 87px;
			top: 12px;
		}
	.service-section_container{
		flex-direction: column !important;
    	align-items: center;
	}

		.each-service{
			width: 80%;
			height: 300px;
			margin-bottom: 10px;
			margin-right: 0 !important;
		}

	/* Why Choose Us */
	.choose-us-section{
		margin-top: 10px;
	}

		.choose-us-section_left h2{
			font-size: 25px;
		}

		.choose-us-behind-text{
			font-size: 62px;
			top: -5%;
			right: 107px;
		}

		.choose-us-behind-text_bar{
			width: 133px;
			height: 15px;
			left: 61px;
			top: 12px;
		}

		.choose-us_images{
			width: 44%;
		}

	/* Reviews Section */
	.reviews-section{
		margin-top: 40px;
		margin-left: 20px !important;
	}

		.reviews-section div h2{
			font-size: 31px;
		}

		.reviews-behind-text{
			font-size: 62px;
			top: -5%;
			left: -23px;
		}

		.reviews-behind-text_bar{
			width: 186px;
			height: 15px;
			left: -10px;
			top: 49px;
		}

		.carousel-item div h1{
			font-size: 25px;
		}

		.review-bar{
			width: 30px;
			height: 5px;
			left: 0;
			top: 12px;
		}

	/* Footer Section */
	.footer-section{
		padding: 20px;
		height: auto
	}

		.footer-logo_container{
			display: flex;
			justify-content: center;
			margin: 20px 0;
		}

			.footer-logo{
				width: 125px !important;
				margin: 0 !important;
			}

			.footer-info_item{
				margin-top: 15px !important;
			}

				.footer-info_item svg{
					width: 20px !important;
					height: 20px !important;
				}

	/* Secondary NavBar */
	.secondary-navbar-container{
		height: 100px
	}

	.secondary-navbar{
		top: 38%
	}

		.secondary-navbar div{
			margin: 0px !important;
		}

	/* About Page */
	.about-behind-text{
		top: -33%;
		right: -338px;
		font-size: 65px;
	}

		.about-behind-text_bar{
			width: 182px;
			height: 15px;
			left: 83px;
			top: 23px;
		}

		.about-page_content{
			margin-top: 50px;
		}

		.about-page_img{
			margin-top: 30px;
		}

	/* Services Page */
	.service-page_header{
		margin-bottom: 50px;
	}

		.service-image_container{
			margin-bottom: 20px;
		}

	.serviceIsActive{
		width: 261px;
		padding: 14px;
		font-size: 20px;
		margin: 10px;
	}

		.services-link{
			width: 218px;
			height: 50px;
			padding-top: 13px;
			margin: 10px
		}

	.services{
		margin: 30px 0;
	}

	.service-behind-text{
		top: -65%;
		left: -7%;
		font-size: 75px;
	}

		.service-title{
			font-size: 30px;
			margin-left: 0;
			margin-top: 40px;
		}

		.service-behind-text_bar-marble{
			width: 181px;
			height: 15px;
			left: 92px;
			top: 15px;
		}

		.service-behind-text_bar-granite{
			width: 181px;
			height: 15px;
			left: 96px;
			top: 16px;
		}

		.service-behind-text_bar-quartz{
			width: 181px;
			height: 15px;
			left: 89px;
			top: 16px;
		}

		.service-behind-text_bar-quartzite{
			width: 181px;
			height: 15px;
			left: 121px;
			top: 16px;
		}

		.service-behind-text_bar-outdoor{
			width: 181px;
			height: 15px;
			left: 109px;
			top: 16px;
		}

		.service-behind-text_bar-sinks{
			width: 88px;
			height: 15px;
			left: 48px;
			top: 16px;
		}

	.sub-title{
		margin-top: 30px;
		margin-bottom: 10px;
	}

	/* Projects Page */
	.projects-container{
		margin-top: 30px;
	}

		.projects-behind-text_bar{
			background-color: #e0cc81;
			width: 169px;
			height: 15px;
			border-radius: 20px;
			position: absolute;
			left: 113px;
			top: 25px;
			z-index: -1;
		}

	/* Contact Page */
	.contact-title{
		font-size: 27px;
	}

	.today-title{
		margin-top: 20px;
		margin-bottom: 20px;
	}

		.contact-behind-text{
			top: -80%;
			right: -345px;
			font-size: 72px;
			z-index: 0;
			opacity: 0.09;
			font-weight: bold;
			width: 200%;
		}

		.contact-behind-text_bar{
			width: 193px;
			height: 15px;
			left: 149px;
			top: 15px;
		}

		.contact-content{
			margin-top: 50px;
			margin-bottom: 40px;
		}

	.contact-form{
		margin-top: 30px;
	}

		.contact-form input{
			margin-bottom: 20px;
		}

		.contact-form textarea{
			margin-bottom: 20px;
		}
}

@media screen and (min-width: 376px) and (max-width: 767px) {
		/* Home Header */
		.nav-link{
			font-size: 13px;
			margin: 10px !important;
		}

		.isActive{
			font-size: 13px;
			margin: 10px !important;
		}

		.home-header-content{
			top: 23%;
			left: -3%;
		}

			.navbar-container a img{
				display: none;
			}

			.home-header-content h1, .home-header-content h3{
				font-size: 15px;
			}

			.home-header-content h2{
				font-size: 30px;
				margin: 20px 0px !important;
			}

		.fa-chevron-down{
			font-size: 40px;
		}

			.header-arrow{
				top: 82%
			}

			.header-btn_container{
				margin-top: 20px;
			}

		/* About Section */
		.about-section{
			margin-top: 15px;
		}

			.about-section_left h2{
				font-size: 25px;
			}

			.behind-text{
				font-size: 62px;
			}

			.behind-text_bar{
				width: 134px;
				height: 15px;
				left: 119px;
				top: 12px;
			}

		.about-section_content{
			margin-bottom: 50px !important;
		}

		.about-section_content p{
			margin-top: 25px !important;
			margin-bottom: 25px !important;
		}

		/* Services Section */
		.services-behind-text{
			font-size: 62px;
		}

			.services-behind-text_bar{
				width: 113px;
				height: 15px;
				left: 87px;
				top: 12px;
			}
		.service-section_container{
			flex-direction: column !important;
			align-items: center;
		}

			.each-service{
				width: 80%;
				height: 300px;
				margin-bottom: 10px;
				margin-right: 0 !important;
			}

		/* Why Choose Us */
		.choose-us-section{
			margin-top: 10px;
		}

			.choose-us-section_left h2{
				font-size: 25px;
			}

			.choose-us-behind-text{
				font-size: 62px;
				top: -5%;
				right: 107px;
			}

			.choose-us-behind-text_bar{
				width: 133px;
				height: 15px;
				left: 61px;
				top: 12px;
			}

			.choose-us_images{
				width: 44%;
			}

		/* Reviews Section */
		.reviews-section{
			margin-top: 40px;
			margin-left: 20px !important;
		}

			.reviews-section div h2{
				font-size: 31px;
			}

			.reviews-behind-text{
				font-size: 62px;
				top: -5%;
				left: -23px;
			}

			.reviews-behind-text_bar{
				width: 186px;
				height: 15px;
				left: -10px;
				top: 49px;
			}

			.carousel-item div h1{
				font-size: 25px;
			}

			.review-bar{
				width: 30px;
				height: 5px;
				left: 0;
				top: 12px;
			}

		/* Footer Section */
		.footer-section{
			padding: 20px;
			height: auto;
		}

			.footer-info{
				margin: 0 5%;
			}

			.footer-logo_container{
				display: flex;
				justify-content: center;
				margin: 20px 0;
			}

				.footer-logo{
					width: 125px !important;
					margin: 0 !important;
				}

				.footer-info_item{
					margin-top: 15px !important;
				}

					.footer-info_item svg{
						width: 20px !important;
						height: 20px !important;
					}

		/* Secondary NavBar */
		.secondary-navbar-container{
			height: 150px
		}

		.secondary-navbar{
			top: 38%
		}

			.secondary-navbar a img{
				display: none;
			}

			.secondary-navbar div{
				margin: 0px !important;
			}

		/* About Page */
		.about-behind-text{
			top: -33%;
			right: -338px;
			font-size: 65px;
		}

			.about-behind-text_bar{
				width: 182px;
				height: 15px;
				left: 83px;
				top: 23px;
			}

			.about-page_content{
				margin-top: 50px;
			}

			.about-page_img{
				margin-top: 30px;
			}

		/* Services Page */
		.service-page_header{
			margin-bottom: 50px;
		}

			.service-image_container{
				margin-bottom: 20px;
			}

		.serviceIsActive{
			width: 261px;
			padding: 14px;
			font-size: 20px;
			margin: 10px;
		}

			.services-link{
				width: 218px;
				height: 50px;
				padding-top: 13px;
				margin: 10px
			}

		.services{
			margin: 30px 0;
		}

		.service-behind-text{
			top: -65%;
			left: -7%;
			font-size: 75px;
		}

			.service-title{
				font-size: 30px;
				margin-left: 0;
				margin-top: 40px;
			}

			.service-behind-text_bar-marble{
				width: 181px;
				height: 15px;
				left: 92px;
				top: 15px;
			}

			.service-behind-text_bar-granite{
				width: 181px;
				height: 15px;
				left: 96px;
				top: 16px;
			}

			.service-behind-text_bar-quartz{
				width: 181px;
				height: 15px;
				left: 89px;
				top: 16px;
			}

			.service-behind-text_bar-quartzite{
				width: 181px;
				height: 15px;
				left: 121px;
				top: 16px;
			}

			.service-behind-text_bar-outdoor{
				width: 181px;
				height: 15px;
				left: 109px;
				top: 16px;
			}

			.service-behind-text_bar-sinks{
				width: 88px;
				height: 15px;
				left: 48px;
				top: 16px;
			}

		.sub-title{
			margin-top: 30px;
			margin-bottom: 10px;
		}

		/* Projects Page */
		.projects-container{
			margin-top: 30px;
		}

			.services-behind-text_bar{
				width: 113px;
				height: 15px;
				left: 87px;
				top: 12px;
			}

		/* Contact Page */
		.contact-title{
			font-size: 27px;
		}

		.today-title{
			margin-top: 20px;
			margin-bottom: 20px;
		}

			.contact-behind-text{
				top: -80%;
				right: -345px;
				font-size: 72px;
				z-index: 0;
				opacity: 0.09;
				font-weight: bold;
				width: 200%;
			}

			.contact-behind-text_bar{
				width: 193px;
				height: 15px;
				left: 149px;
				top: 15px;
			}

			.contact-content{
				margin-top: 50px;
				margin-bottom: 40px;
			}

		.contact-form{
			margin-top: 30px;
		}

			.contact-form input{
				margin-bottom: 20px;
			}

			.contact-form textarea{
				margin-bottom: 20px;
			}
}
